<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

  	<body>
  		
  		<h2> This email is to confirm that you, <%= @user.name %>, has changed your profile details. </h2>

  		<p> If you have not made this change, please contact us directly. </p>

  		<p>
  			If you have not already, please hop on over to Want-It and start your list.  If your list already has items, please review your list, adding to it or tailoring each gift to perfection.   Don't forget to add your friends and family so they can view your list as well. 
  		</p>

  		<p> 
  			Want-It  Where the Perfect gift idea is just a click away. 
        <%= link_to 'http://want-it.herokuapp.com', 'http://want-it.herokuapp.com', :target => "_blank" %> 
  		</p>

  		<p>
  			Thank you for entrusting us with helping you get the perfect gift and have a fabulous day!
  		</p>

  	</body>
</html>



