<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

  	<body>
  		
  		<h3> This email is to confirm that you, <%= @user.name %>, needs to reset your password by clicking the URL below.</h3>

  		<p> 
        <%= edit_password_reset_url(@user.password_reset_token) %><br> 
      </p>

  		<p>
  			If you did not request your password to be reset please ignore this email and your password will stay as it is.
  		</p>

  		<p> 
  			Loot-List  Where the Perfect gift idea is just a click away.<br>
        <%= link_to 'http://loot-list.herokuapp.com', 'http://loot-list.herokuapp.com', :target => "_blank" %> 
  		</p>

  		<p>
  			Thank you for entrusting us with helping you get the perfect gift and have a fabulous day!
  		</p>

  	</body>
</html>
