
<fieldset>
	<%= form_for (@group) do |f| %>
  <div class="row col-md-4"><br>

	  <b><%= f.label :name, 'Group Name' %></b>
	  <i> (This must be completed!)</i><br>  
	  <%= f.text_field :name, size: "80", class:'form-control', :placeholder => 'must be completed' %><br><br><br><br>

	  <div class="actions" >
	    <%= f.submit 'SAVE GROUP NAME', class: 'btn btn-default btn-xs' %><br><br>
	  </div> 

	</div>
	<% end %>
</fieldset>