
<h2> Edit Group Name </h2>

<%= render 'form' %>

<%# TODO:  Need to add people to this group %>

<% if @current_user.id == @group.owner_id %>
<%= link_to 'Delete This Group', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to delete this Group?' }, class: 'btn btn-default btn-md' %>
<% end %>

