<h2><b> <%= @current_user.name %>'s Groups are : </b></h2><br>

<% if @current_user.id == @group.owner_id %>
	<p><b> Click on each Group Name if you want to edit or delete this Group. </b></p><br>
<% else %>
	<p><b> Click on each Group Name if you want to join this Group. </b></p><br>
<% end %>				<%# TODO:  can join group this way???  %>

<fieldset>
	<body>
		<div class="user-group-list col-md-4 table-responsive">
			<table class="table table-bordered table-striped">
			  <tr>
			    <th> Group Name </th><br>		
			  </tr>
			  
			  <% @groups.each do |group| %>
			  <tr>
			    <td> <%= link_to group.name, group_path(group) %> </td>		
			 	</tr>
			  <% end %>

			</table><br><br>
		</div> 
	</body>
</fieldset>


