
<h2> Make your own Group </h2><br><br>

<p>  This group will be the people that can see each other's Loot-List Lists. </p>

<p> Only the person whom list it is can actually change the items on the list. </p><br>

<%= render 'form' %>




