
<h2>Make your own Group of people</h2><br><br>

<p>  This group will be the people that can see each other's Want-It Lists. </p>

<p> Only the person whom list it is can actually change the items on the list. </p><br>

<%= render 'form' %>

<%= link_to "JOIN A GROUP", new_group_path(@user), class: 'btn btn-default btn-sm' %><br><br>
		<%# TODO  this button goes absolutely no where! %>



