
<h2> Your Group is <%= @group.name %> </h2><br><br>

<p><b> Members of this group are : </b></p><br><br>




<% if @current_user.id == @group.owner_id %>
<%= link_to "EDIT YOUR GROUP", edit_group_path(@group), class: 'btn btn-default btn-sm' %><br><br>  

<%= link_to 'Delete This Group', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to delete this Group?' }, class: 'btn btn-default btn-md' %><br><br>
<% end %>


