
<h2> <%= @current_user.name %> is logged in </h2>

<%= render 'users/profile_edit' %>

<br><%= link_to "YOUR PROFILE", user_path(@current_user), class: 'btn btn-default btn-sm' %><br>

<br><%= link_to "HOME", home_path, class: 'btn btn-default btn-sm' %><br>
