
<h3> Thank you <%= @current_user.name %> for starting on your basic profile information. </h3><br>

<%= render 'users/profile_edit' %><br>

<%= link_to "YOUR PROFILE", user_path(@current_user), class: 'btn btn-default btn-sm' %><br>

