
<h2> <%= @current_user.name %> current profile is </h2>

<%= render 'users/profile' %>

 <a><%= link_to "EDIT PROFILE", edit_user_path %></a><br><br>

 <a><%= link_to "WANT-IT LIST", user_items_path(@user) %></a><br><br>

