
<%#= form_for([@current_user, @item]) do |f| %>

<div class="item-categories">
	<p>
		<h5><b> Category </b></h5> 

		<ul>
 		<%#= f.check_box(:category, checked_value = "Gift Card", unchecked_value = " ") %>
 		<%#= f.label 'Gift Card' %> &nbsp;&nbsp;&nbsp;&nbsp;
 

 		<%#= f.check_box :category %>
 		<%#= f.label :category %> &nbsp;&nbsp;&nbsp;&nbsp;
		</ul>

 	</p>
</div>
<%# end %>