
<span style="font-size:75%;"><b>CATEGORIES</b></span> 
  <div class="item-category">
    <ul type="square">
      <li> Gift Cards </li>
      <li> Pets </li>
      <li> Education </li>
      <li> Philantrophy </li>
      <li> Activities/Hobbies </li>
      <li> Jewelry </li>
      <li> Accessories </li>
      <li> Clothes </li>
      <li> Shoes </li>
      <li> Electronics </li>
      <li> Tools </li>
      <li> Beauty </li>
      <li> Health/Spa </li>
      <li> Sports Played </li>
      <li> Sports Teams </li>
      <li> Home/Household </li>
      <li> Kitchen </li>  
      <li> Restaurants </li>
      <li> Movies </li>
      <li> Theatres </li>
      <li> Concerts/Live Events</li>
      <li> Music </li>
      <li> Outdoor Activities </li>
      <li> Vacations/Trips </li>
      <li> Amusement Parks </li>
    </ul>
  </div><br>
  