
<div class="text-right">

<% if @current_user.id == @user.id %>
	<h4><%= link_to 'Delete This Item', user_item_path(@user, @item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'btn btn-default btn-md' %></h4>
<% end %>

</div>

<h2> Edit This Item </h2>

<%= render 'items/form' %>