
<div class="text-right">

	<h4><%= link_to 'Delete This Item', user_item_path(@user, @item), method: :delete, data: { confirm: 'Are you sure?' } %></h4>


</div>

<h2> Edit This Item </h2>

<%= render 'items/form' %>