
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.item-category {
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;
}

.notBootstrap{
	padding-left: 5%;
	padding-right: 5%;
	}

.yield{
	margin: auto;
	width: 90%
}

.btn-default{
	padding-top: 12px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: AppleGothic, sans-serif;
	color: white;
	background-color: #223C66;
}

.success {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;	
	margin-top: 1px;
	margin-right: 190px;
	margin-left: 190px;
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 20px;	
	font-weight: bold;	
	color: navy;
	background-color: white ;
	border: green;
}

.failure { 
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;	
	margin-top: 1px;
	margin-right: 190px;
	margin-left: 190px;
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 25px;	
	font-weight: bold;
	color: red;
	background-color: white ;
	border: red;
}

.notice {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;	
	margin-top: 1px;
	margin-right: 190px;
	margin-left: 190px;
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 25px;	
	font-weight: bold;	
	color: purple;
	background-color: white ;
	border: yellow;
}

.loot-list-table {
	table, th, td {
		border: 5px solid black;
		border-collapse: collapse;
		padding: 10px; }
}

.perfect-gift-footer {
	text-align: right;
	font-family: papyrus, fantasy;
	font-weight: bold;
	font-size: 24px;
	color: #223C66;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 7px;
}

.kids-holding-box {
  width: 300px;
  height: 100px;
  padding-right: 70px;
  margin-right: 2.5cm;
}

.background-image {
	height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 	background-position: center;
  background-size: cover;
  padding-top: 10px;
}

div .background-login {
	height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
 	background-position: center;
 	background-color: beige;
 	border: 25px solid beige;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 200px;
}

.login-container {
	border: 10px solid #223C66;
	height:80%;
  width:60%;
  background-size:100%;
 	background-position: center;
  background-size: cover;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;	
}

.navbar-color {
	height:100%;
  width:100%;
 	background-color: #718AB2;
 	border: 5px solid #223C66;
 	padding-top: 7px;
 	padding-right: 20px;
 	padding-left: 20px;
 	padding-bottom: 5px;
}

body {
	color: #223C66;
	background-color: beige;	
	background-size: cover;
 	background-position: cover;
  background-repeat: no-repeat;
  font-family: AppleGothic, sans-serif;
}

a {
	color: purple;
}

.url-link {
	width:90px;
}

.text-box {
	border: 6px solid #223C66; 
	font-family: Arial; 
	font-size: 20px; 
	color: #223C66;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.register-text-box {
	border: 6px solid #223C66; 
	font-family: Arial; 
	font-size: 18px; 
	color: #223C66;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 15x;
	padding-bottom: 10px;
}
.new-item {  
	font-family: Arial; 
	font-size: 15px; 
	color: #223C66;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 15px;
	padding-bottom: 15px;
}











