
<footer>
<div class="perfect-gift-footer">	
	<div class="row">
		<div class="kids-holding-box col-sm-4 pull-right">
			
			<%= image_tag("kids_holding_box.png", alt: "image", class:'img-responsive img-circle') %>

		</div>
	</div>
	<ul>
		<p> © HLRoude </p>
	  <p> Where the perfect gift idea is just a click away </p>
  </ul>	
</div>  
</footer
