
<footer>
<div class="perfect-gift-footer">	
	<div class="row">   
		<img src="/assets/kids_holding_box.png" style="width:270px;height:170px;padding-right:10px;margin-right:2.5cm;" class="img-responsive img-circle pull-right">
	</div>
	<ul>
		<p> © HLRoude </p>
	  <p> Where the perfect gift idea is just a click away </p>
  </ul>	
</div>  
</footer
