
<br><br>
<footer>
	<div class="perfect-gift">
		<div class="container">
			<div class="span12 centered-text">
		  	<ul>
		    	<p> Where the perfect gift idea is just a click away. </p>
		    	<p> © HLRoude </p>
		  	</ul>
		  </div>	
		</div>  
  </div>	
</footer>